# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# API
apps/api/node_modules/
apps/api/*.db
apps/api/*.db-journal

# Web
apps/web/node_modules/
